body{
    background-color: rgb(138, 15, 15);
}
.ho button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 187, 0);
    width: 200px;
    height: 30px;
    margin-left: 500px;
    margin-top: 20px;
}
.ho button:hover{
    background:#434404;
}
.a button{
    background-color: rgb(238, 195, 3);
    width: 200px;
    height: 30px;
    margin-left: 700px;
    margin-top: -30px;
}
.a button:hover{
    background:#565713;
}
.ho a{
    color: rgb(0, 0, 0);
}
.a a{
    color: rgb(0, 0, 0);;
}
*{
	margin: 0;
	padding: 0;
}

.clear-fix{
	clear: both;
}

a{
	text-decoration: none;
}

#nav{
    margin-left: 240px;	
    margin-top: 100;
    font-size: 25px;
    		
}

#nav ul{
	list-style: none;
}

#nav li{
	position: relative;
}

#nav > ul > li{
	float: left;			
}

#nav > ul > li > a{
	display: inline-block;
	color: white;
	padding: 0 30px;
	line-height: 30px;
}

#nav > ul > li:hover > a{
	background-color: rgb(0, 0, 0);
	color: white;
}
/* styles for sub menu */
#nav .sub-menu{
	display: none;
	position: absolute;			
}

#nav .sub-menu > li > a{
	display: block;
	width: 200px;
	background-color: rgb(0, 0, 0);
	color: white;
    padding: 5px 10px;

}

#nav .sub-menu > li:hover > a{
	background-color: orange;
}

#nav li:hover > .sub-menu{
	display: block;
}
