.search input[type="text"]{
    margin: 2px;
    margin-top: -58px;
    padding: 10px 14px;
    margin-left: -70px;
    width: 400px;
    border-radius:  24px;
    border: 1px solid rgb(255, 0, 0);
    transition: 1s;
}
.search input[type="submit"]:hover{
    background-color: brown;
    color: cornsilk;
}
.search input[type="submit"]{
    margin: 20px;
    margin-top: 20px;
    margin-left:30px;
    padding: 10px 14px;
    width: 150px;
    background-color: #421010;
    color: rgb(255, 204, 0);
    cursor: pointer;
    border-radius:  24px;
    border: 1px solid #ffffff;
    transition: 0.7s;
}
.logo img{
    width:100px;
    height:100px;
    margin-left: 900px;
    margin-top: -80px;
}
.ho button{
    color: rgb(241, 237, 0);
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 30px;
    margin-left: 600px;
    margin-top: -90px;
}
.m button{
    color: rgb(241, 237, 0);
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 30px;
    margin-left: 600px;
    margin-top: -30px;
}
.a button{
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 30px;
    margin-left: 600px;
    margin-top: -60px;

}
